<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{{_sections._get 'title'}}} - Sharab</title>
</head>
<body>
<header>
<span>Sharab</span>
</header>

    {{> navMenu}}

    {{{body}}}

</body>
</html>
