{{#section 'title'}}
Grapes
{{/section}}

<h1>Grapes</h1>

<a href="/grapes/new">
Add New Grape
</a>

<ul>
{{#each grapes}}
<li><a target="_blank" href="{{this.url}}">{{this.name}}</a></li>
{{/each}}
</ul>
