{{#section 'title'}}
New Wine Style
{{/section}}

<h1>New Wine Style</h1>

<form method="post" action="/wineStyles">

<label for="name">
Name
</label>
<input type="text" id="name" name="name" />

<label for="url">
URL
</label>
<input type="text" id="url" name="url" />

<input type="submit" />

</form>
