{{#section 'title'}}
Bottles
{{/section}}

<h1>Bottles</h1>

<a href="/bottles/new">
Add New Bottle
</a>

<table>
<thead>
<tr>
<th>Wine</th>
<th>Tag</th>
<th>Location</th>
</tr>
</thead>

<tbody>

{{#each bottles}}
<tr>
<td>{{this.wine}}</td>
<td>{{this.tag}}</td>
<td>{{this.location}}</td>
</tr>
{{/each}}

</tbody>
</table>
