<h1>New Wine</h1>

<form method="post" action="/wines">
<label for="name">
Name
</label>
<input type="text" id="name" name="name" />

<label for="maker">
Maker
</label>
<input type="text" id="maker" name="maker" />

<label for="vintage">
Vintage
</label>
<input type="text" id="vintage" name="vintage" />

<label for="hasBubbles">
Bubbles?
</label>
<select id="hasBubbles" name="hasBubbles">
<option value="false">No</option>
<option value="true">Yes</option>
</select>

<label for="grapes">
Grapes
</label>
<input type="text" id="grapes" name="grapes" />

<label for="country">
Country
</label>
<input type="text" id="country" name="country" />

<label for="region">
Region
</label>
<input type="text" id="region" name="region" />

<label for="abv">
ABV
</label>
<input type="text" id="abv" name="abv" />

<label for="urls">
URLs:
</label>
<input type="text" id="urls" name="urls" />

<label for="description">
Description
</label>
<input type="text" id="description" name="description" />

<label for="notes">
Notes
</label>
<input type="text" id="notes" name="notes" />

<label for="drinkByMin">
DrinkBy Year Min
</label>
<input type="text" id="drinkByMin" name="drinkByMin" />

<label for="drinkByMax">
DrinkBy Year Max
</label>
<input type="text" id="drinkByMax" name="drinkByMax" />

<input type="submit" />
</form>
