{{#section 'title'}}
New Wine
{{/section}}

<h1>New Wine</h1>

<form method="post" action="/wines">
<label for="name">
Name
</label>
<input type="text" id="name" name="name" />

<label for="maker">
Maker
</label>
<input type="text" id="maker" name="maker" />

<label for="vintage">
Vintage
</label>
<input type="text" id="vintage" name="vintage" />

<label for="hasBubbles">
Bubbles?
</label>
<select id="hasBubbles" name="hasBubbles">
<option value="false">No</option>
<option value="true">Yes</option>
</select>

<div>
<div id="grapes-container">
<div>
<label for="grape1">
Grape 1
</label>
<select id="grape1">
{{#each grapes}}
{<option value="{{this.id}}">{{this.name}}</option>
{{/each}}
</select>

<label for="grape1-percentage">
Grape1 Percentage
</label>
<input type="text" id="grape1-percentage" />
</div>
</div>
<button type="button" id="btnAddNewGrape">Add Another Grape</button>
</div>

<label for="wineStyle">
Wine Style
</label>
<select id="wineStyle" name="wineStyle">
{{#each wineStyles}}
{<option value="{{this.id}}">{{this.name}}</option>
{{/each}}
</select>

<label for="country">
Country
</label>
<input type="text" id="country" name="country" />

<label for="region">
Region
</label>
<input type="text" id="region" name="region" />

<label for="abv">
ABV
</label>
<input type="text" id="abv" name="abv" />

<label for="urls">
URLs:
</label>
<input type="text" id="urls" name="urls" />

<label for="description">
Description
</label>
<input type="text" id="description" name="description" />

<label for="notes">
Notes
</label>
<input type="text" id="notes" name="notes" />

<label for="drinkByMin">
DrinkBy Year Min
</label>
<input type="text" id="drinkByMin" name="drinkByMin" />

<label for="drinkByMax">
DrinkBy Year Max
</label>
<input type="text" id="drinkByMax" name="drinkByMax" />

<input type="submit" />

</form>

<script language="javascript" type="text/javascript">
var handleAddNewGrape = function(event) {
var grapeDivsContainer = document.getElementById('grapes-container');
var grapeDivs = grapeDivsContainer.children;
var lastGrapeDiv = grapeDivs[grapeDivs.length-1];
var newGrapeDiv = lastGrapeDiv.cloneNode(true);
var newGrapeDivChildren = newGrapeDiv.children;

var newGrape = 'grape'+(grapeDivs.length+1);

newGrapeDivChildren[0].setAttribute('for', newGrape);
newGrapeDivChildren[0].innerHTML = newGrape;
newGrapeDivChildren[1].setAttribute('id', newGrape);

var newGrapePercentage = newGrape+'-percentage';
newGrapeDivChildren[2].setAttribute('for', newGrapePercentage);
newGrapeDivChildren[2].innerHTML = newGrape+' Percentage';
newGrapeDivChildren[3].setAttribute('id', newGrapePercentage);


grapeDivsContainer.appendChild(newGrapeDiv);
};

document.getElementById('btnAddNewGrape').addEventListener('click', handleAddNewGrape);

</script>
