{{#section 'title'}}
New Wine
{{/section}}

<h1>New Wine</h1>

<form method="post" action="/wines">
<label for="name">
Name
</label>
<input type="text" id="name" name="name" required />

<label for="maker">
Maker
</label>
<input type="text" id="maker" name="maker" required />

<label for="vintage">
Vintage
</label>
<input type="text" id="vintage" name="vintage" required pattern="0|\d{4}" />

<label for="hasBubbles">
Bubbles?
</label>
<select id="hasBubbles" name="hasBubbles">
<option selected value="false">No</option>
<option value="true">Yes</option>
</select>

<div>
<div id="grapes-container">
<div>
<label for="grape1">
Grape 1
</label>
<select id="grape1">
<option selected value="">Not Defined</option>
{{#each grapes}}
{<option value="{{this.id}}">{{this.name}}</option>
{{/each}}
</select>

<label for="grape1-percentage">
Grape1 Percentage
</label>
<input type="text" id="grape1-percentage" pattern="\d{1,3}" />
</div>
</div>
<button type="button" id="btnAddNewGrape">Add Another Grape</button>
</div>

<label for="wineStyle">
Wine Style
</label>
<select id="wineStyle" name="wineStyle" >
<option selected value="">Not Defined</option>
{{#each wineStyles}}
{<option value="{{this.id}}">{{this.name}}</option>
{{/each}}
</select>

<label for="country">
Country
</label>
<input type="text" id="country" name="country" />

<label for="region">
Region
</label>
<input type="text" id="region" name="region" />

<label for="abv">
ABV
</label>
<input type="text" id="abv" name="abv" pattern="\d{2}\.\d{1,2}" />

<div>
<div id="urls-container">
<div>
<label for="url1-name">
URL-1 Name
</label>
<input type="text" name="url1-name" id="url1-name" />

<label for="url1">
URL-1
</label>
<input type="url" id="url1" />
</div>
</div>
<button type="button" id="btnAddNewURL">Add Another URL</button>
</div>

<label for="description">
Description
</label>
<input type="text" id="description" name="description" />

<label for="notes">
Notes
</label>
<input type="text" id="notes" name="notes" />

<label for="drinkByMin">
DrinkBy Year Min
</label>
<input type="number" id="drinkByMin" name="drinkByMin" value="2017" min="2017" max="2050" />

<label for="drinkByMax">
DrinkBy Year Max
</label>
<input type="number" id="drinkByMax" name="drinkByMax" value="2017" min="2017" max="2050" />

<input type="submit" />

</form>

<script language="javascript" type="text/javascript">
var addNew = function(containerName, item1NameBase, item1NameSuffix, item2NameBase, item2NameSuffix) {
var divsContainer = document.getElementById(containerName);
var divs = divsContainer.children;
var lastDiv = divs[divs.length-1];
var newDiv = lastDiv.cloneNode(true);
var newDivChildren = newDiv.children;

var newItem1 = item1NameBase+(divs.length+1)+item1NameSuffix;
newDivChildren[0].setAttribute('for', newItem1);
newDivChildren[0].innerHTML = newItem1;
newDivChildren[1].setAttribute('id', newItem1);

var newItem2 = item2NameBase+(divs.length+1)+item2NameSuffix;
newDivChildren[2].setAttribute('for', newItem2);
newDivChildren[2].innerHTML = newItem2;
newDivChildren[3].setAttribute('id', newItem2);

divsContainer.appendChild(newDiv);
};

var handleAddNewGrape = function(event) {
addNew('grapes-container', 'grape', '', 'grape', '-percentage');
};

var handleAddNewURL = function(event) {
addNew('urls-container', 'url', '-name', 'url', '');
};

document.getElementById('btnAddNewGrape').addEventListener('click', handleAddNewGrape);
document.getElementById('btnAddNewURL').addEventListener('click', handleAddNewURL);

</script>
